@import 'foundation';
@import 'global';

body {
    background-color: $background-color;
}

h1 {
  font-family: "omnes-pro", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 80px;
}

.app-name {
  text-align: center;
}
